/* @import '~bootstrap/scss/bootstrap'; */

$darkgray: #323232;
$darkred: #960000;
$black: #000;
$lightblack: #191919;
$silver: #efefef;
$bg-color: $silver;
$bg-content: $lightblack;
$bg-navbar: $darkgray;
$header-color: $darkred;

h2 {
  color: $header-color;
}

html {
  background-color: $bg-color;
}

footer {
  bottom: 0;
  left: 20vw;
  position: absolute;
  width: 100%;
}

.nav {
  height: 100vh;
}

.navbar {
  background-color: $bg-navbar;
  padding: 0;
}

.nav-link {
  text-align: center;
}

.page-container {
  background-color: $bg-color;
  font-size: 1.25rem;
  min-height: 100vh;
  padding-bottom: 2.5vh;
}

@media (max-width: 576px) {
  .nav {
    height: 100%;
    width: 100vw;
  }
  .navbar {
    height:100%;
    width: 100%;
  }
}
