$darkred: maroon;
$black: #000;
$lightblack: #191919;
$silver: #efefef;
$bg-color: $darkred;
$bg-content: $lightblack;
$font-color: $silver;

html {
  background-color: $bg-color;
  color: $font-color;
}


footer {
  bottom: 0;
  height: 2.5rem;
  position: absolute;
  width: 100%;
}

.content-wrapper {
  background-color: $bg-content;
  padding-bottom: 2.5rem;    /* Footer height */
}

.nav {
  height: 100vh;
}

.page-container {
  background-color: $bg-color;
  color: $font-color;
  position: relative;
  min-height: 100vh;
}
