
h2 {
  color: #960000;
}

html {
  background-color: #efefef;
}

main {
  font-size: 1.25rem;
}

.navbar {
  color: white;
  height: 100%;
  padding: 0;
  text-align: center;
  font-size: 3vh;
}

.fake-footer {
  font-size: 1rem;
}

.nav-link {
  text-align: center;
}

@media (max-width: 576px) {
  .fake-footer {
    margin-top: 10px;
  }
  .nav {
    height: 100%;
    width: 100vw;
  }
  .navbar {
    height:100%;
    width: 100%;
  }
}
