h2 {
  color: #960000;
}

html {
  padding: 0px;
}

main {
  font-size: 3vh;
  padding: 5px;
}

p {
  padding: 5px;
}

.amherst {
  background: linear-gradient(to bottom right, #4d1979 20%, #000 100%);
  color: #fff;
  opacity: .90;
}

.bhcc {
  background-color: #c8102e;
  background: linear-gradient(to bottom right, #c8102e 20%, #000 100%);
}

.umb {
  background-color: #005A8B;
  background: linear-gradient(to bottom right, #005A8B 20%, #000 100%);
}

.education-item {
  box-shadow: 2px 4px 4px 2px silver;
  color: #efefef;
  padding: 5px;
}

.fake-footer {
  color: white;
  font-size: 1.25rem;
  margin-top: 25vh;
}

.navbar {
  background-color: #282828;
  box-shadow: 2px 4px 4px 2px silver;
  font-size: 3vh;
  height: 100%;
  padding: 5px 10px;
  text-align: center;
}

.nav-link {
  cursor: pointer;
  margin-top: 5px;
  text-align: center;
}

.nav-pills .nav-link {
  background: black;
  color: #efefef;
}

.nav-pills .nav-link.active {
  background-color: #960000 !important;
  color: white;
}

.project-card {
  max-width: 100vw;
}

.resume-item {
  background-color: #282828;
  box-shadow: 2px 4px 4px 2px silver;
  color: #efefef;
  font-size: 1.5rem;
  padding: 15px 10px;
}

@media (max-width: 576px) {
  .fake-footer {
    margin-top: 5vh;
  }
}
